#root {
  margin: 0 auto;
  height: 100vh;
  text-align: center;
}

/* src/components/Navbar.css */

/* .navbar {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 5px 20px;
  color: white;
  font-size: 16px;
}
.img_logo{
  width: 100px;
  height: 50px;
}

.navbar-brand {
  font-size: 1.5em;
  margin: 0;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 12rem;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #61dafb;
}

.form_container {
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 6px;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  margin: 10px 0px;
  border-radius: 4px;
  height: 30px;
  border: 1px solid gray;
} */

/* src/components/DocumentManager.css */
/* .document-manager {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 10px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

.editor-section {
  flex-grow: 1;
  padding: 20px;
}

.document-preview {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
} */
